.er{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkaNxwv-IFGEnuosXi5r9U7QhNDVGO23QILQ&usqp=CAU);
}
.ty{
	background-image: url(https://klv-oboi.ru/img/gallery/56/thumbs/thumb_l_25288.jpg);
}
.go{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjezfYUfPns51oOE8nseDRl4B53p-jjzSCpQ&usqp=CAU);
}
.ua{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-EAwRc4euHVMcTzH0lBtTdJoTCr_xPFUxlQ&usqp=CAU);
}
.title{
font-style: italic;
font-size: 25px;
color: red;
 text-align: center;
}
.text {
font-size: 20px;
color:
black;-
text-align: center;
}
.text1 {
	color: blue;
}


